<section class="main-body__form form flex-helper">
    <form action="" class="flex-helper">
        <label for="email">Подпишись на полезную рассылку и получи 30% скидку</label>
        <input type="text" name="email" placeholder="E-mail" id="form__input">
        <button id="form__accept">Подписаться</button>
    </form>
    <img src="./img/form-image.jpg" alt="decorate img for form">
</section>