header {
    width: 100vw;
    height: 100vh;
    background-color: #DCCAC6;
}
.header-body {
    height: 100vh;
    position: relative;
    justify-content: center;
    text-align: center;

    // &__content {}
    &__text {
        font-size: 50px;
        line-height: calc(100% + 20px);
        letter-spacing: 5px;
    }
    &__discription {
        padding-top: 50px;
        flex-direction: row;
        position: relative;
        left: 20%;
    }
    &__link {
        font-size: 18px;
        color: #000;
        text-decoration: none;
    }
    &__link-img {
        padding-left: 15px;
    }
}
