.menu-panel {
    z-index: 5;
    position: fixed;
    align-items: stretch;
    
    &__nav-box {
        margin: 5% 0;
    }
    &__search {
        border-radius: 0;
        // border: none;
        outline: none;
        padding: 10px 5px;
    }
}
.navigation-container {
    justify-content: space-between;
    flex-direction: row;

    // &__logo {}
    // &__burger {}
    // &__nav {}
    // &__list {}
    // &__item {}
    // &__link {}
}
// .burger-hide {
// }
.main-nav {
    // ЭТО ВРЕМЕННО
    display: none;
    position: absolute;
    // &__item {}
}
