<section class="admin">
    <h1 class="admin_title">Админка</h1>
    <form class="admin-form" method="post">
        <p>
            <label class="admin__label" for="title">Название товара:*</label>
            <input class="admin__input" type="text" name="title" id="title" placeholder="Название">
        </p>
        <p>
            <label class="admin__label" for="price">Цена товара:*</label>
            <input class="admin__input" type="text" name="price" id="price" placeholder="Цена">
        </p>
        <p>
            <label class="admin__label" for="image">Картинка товара:*</label>
            <input class="admin__input" type="text" name="image" id="image" placeholder="Картинка">
        </p>
        <button class="admin__btn" type="submit">Отправить</button>
    </form>
    <nav class="admin__nav">
        <a class="admin__nav-link" href="/">Вернуться назад</a>
        <a class="admin__nav-link" href="/catalog">Страница каталога</a>
    </nav>
</section>
<script src="/js/addPajama.js"></script>