<main>
    <section class="catalog-first-screen">
        <h1 class="catalog-first-screen__title">Новая коллекция</h1>
        <p class="catalog-first-screen__text">Пижама мягкая как сны</p>
        <a class="catalog-first-screen__link" href="#">Смотреть</a>
    </section>
    <section class="catalog">
        <h2 class="catalog__title visually-hidden">Наши предложения</h2>
        
    </section>
</main>