<main class="main flex-helper">
    <div class="main-header flex-helper">
        <section class="main-header__image-wrapper">
            <h1 class="visually-hidden">Картинка для tablet и pc версий главной страницы</h1>
        </section>
        <section class="main-header__title-wrapper">
            <h1 class="visually-hidden">Заголовок heder-а</h1>
            <h1 class="main-header__title">
                Самая уютная пижама на свете
            </h1>
            <a href="" class="main-header__link">Узнать больше</a>
        </section>
    </div>
    <div class="main-body">
        <section class="main-body__cards cards">
            <h1 class="cards__title">Популярные пижамы</h1>
            <div class="cards__items">
                {{> card titleCard="Жёлтый сон" costCard="50 $" imageSrc="./img/cards/card1-image.jpg"}}
                {{> card titleCard="Пижама Кинг-Конг" costCard="120 $" imageSrc="./img/cards/card2-image.jpg"}}

                {{> special_card titleCard="Набор Золотая лагуна сноведений" costCard="1100 $" imageSrc="./img/cards/card3-image.jpg"}}

                {{> card titleCard="Жёлтый сон" costCard="50 $" imageSrc="./img/cards/card1-image.jpg"}}
                {{> card titleCard="Пижама Кинг-Конг" costCard="120 $" imageSrc="./img/cards/card2-image.jpg"}}
            </div>

            <div class="cards__link-wrapper flex-helper"><a href="/catalog" class="cards__link">Смотреть все</a></div>
        </section>

        {{> sub_block}}
    </div>
</main>
{{> footer}}