<header class="flex-helper">
    <div class="header-body flex-helper">
        <h1 class="header-body__title">
            Самая уютная пижама на свете
        </h1>
        <a href="" class="header-body__link">Узнать больше</a>
    </div>
</header>

<main class="main flex-helper">
    <div class="main-body flex-helper">
        <section class="main-body__cards cards">
            <h1 class="cards__title">Популярные пижамы</h1>
            <div class="cards__items">

                {{> card titleCard="Жёлтый сон" costCard="50 $" imageSrc="./img/main/img-card-1.jpg"}}
                {{> card titleCard="Пижама Кинг-Конг" costCard="120 $" imageSrc="./img/main/img-card-2.jpg"}}
                {{> card titleCard="Пижама Кинг-Конг" costCard="120 $" imageSrc="./img/main/img-card-2.jpg"}}

                {{> special_card titleCard="Набор Золотая лагуна сноведений" costCard="1100 $" imageSrc="./img/main/img-card-3.jpg"}}

                {{> card titleCard="Жёлтый сон" costCard="50 $" imageSrc="./img/main/img-card-1.jpg"}}
                {{> card titleCard="Пижама Кинг-Конг" costCard="120 $" imageSrc="./img/main/img-card-2.jpg"}}
            </div>

            <div class="cards__link-wrapper flex-helper"><a href="/catalog" class="cards__link">Смотреть все</a></div>
        </section>

        {{> sub_block}}
    </div>
</main>
{{> footer}}