<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/style.css">

    <title>{{{title}}}</title>
</head>

<body class={{className}}>
    <header class="header">
        <div class="header__wrapper">
            <a href="header__logo">
                <picture>
                    <source srcset="img/logo.svg" media="(max-width: 767px)">
                    <img src="img/logo.svg" alt="Логотип «Softy Shop»">
                </picture>
            </a>
            <button class="header__btn header__btn--close" type="button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__list">
                <li class="main-nav__item">
                    <a href="/login" class="main-nav__link">Войти</a>
                </li>
                <li class="main-nav__item">
                    <a href="/favorites" class="main-nav__link">Избранное</a>
                </li>
                <li class="main-nav__item">
                    <a href="/basket" class="main-nav__link">Корзина</a>
                </li>
            </ul>
        </nav>
        <form class="header__form">
            <label for="search" class=" header__label visually-hidden">Поиск</label>
            <input class="header__search {{searchClassName}}" type="search" name="search" id="search" placeholder="Поиск...">
        </form>
    </header>
    {{{body}}}
    <script src="/js/index.js"></script>
</body>

</html>