.auth-form {
    width: 100vw;
    min-height: 100vh;
    &__body {
        background-color: $white;
        width: 280px;
        min-height: 590px;
        padding: 10px 0;
        margin: auto;
        justify-content: center;
    }
    &__title {
        padding: 0 25px;
        text-align: center;
    }
    &__title a {
        text-decoration: underline;
    }
}
.auth-form input {
    // position: relative;
    margin: 15px 0;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #000405;
    background-color: transparent;
}
.auth-form #form__login-input::before {
    content: "*";
    width: 100%;
    height: 100%;
    // position: absolute;
    background-color: chartreuse;
    // right: 0;
}

.auth-form #form__accept {
    border: 2px solid $black;
    border-radius: unset;
    margin-top: 30px;
    padding: 8px 45px;
    background-color: transparent;
}


@media (min-width: $width-tb) {
    .auth-form__body {
        width: 600px;
    }
    .auth-form #form__login-input, #form__password-input, #form__name-input, #form__surname-input {
        width: 377px;
    }
}