.catalog-first-screen {
    width: 280px;
    min-height: 300px;
    margin: 0 auto;
    color: $white;
    background-image: url("../../../img/catalog-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.catalog-first-screen__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.04em;
    font-style: normal;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.catalog-first-screen__text {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
}

.catalog-first-screen__link {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    position: relative;
    color: $white;
    margin: 0;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: $white;
        bottom: 0;
        bottom: -3px;
    }
}


@media (min-width: $width-tb) {
    .catalog-first-screen {
        width: 708px;
        height: 445px;
    }
    .catalog-first-screen__title {
        font-size: 35px;
    }
    .catalog-first-screen__text, .catalog-first-screen__link {
        font-size: 20px;
    }
}
@media (min-width: $width-pc) {
    .catalog-first-screen {
        width: 1280px;
        height: 445px;
    }
    .catalog-first-screen__title {
        font-size: 64px;
    }
}