.header {
    min-height: 128px;
}

.header__wrapper {
    width: 280px;
    margin: 0 auto;
    position: relative;
    min-height: 45px;
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
}

.header__btn {
    width: 29px;
    height: 21px;
    background-color: transparent;
    border: none;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 12px;
}

.header__btn span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $black;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.header__btn span:nth-child(1) {
    top: 0;
}

.header__btn span:nth-child(2),
.header__btn span:nth-child(3) {
    top: 8px;
}

.header__btn span:nth-child(4) {
    top: 16px;
}

.header__btn--opened span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.header__btn--opened span:nth-child(2) {
    transform: rotate(45deg);
}

.header__btn--opened span:nth-child(3) {
    transform: rotate(-45deg);
}

.header__btn--opened span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.header__form {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header__search {
    background-color: $white;
    padding: 10px 10px;
    border: none;
    border-radius: 0;
    width: 100%;
}

.header__search--catalog {
    background-color: $mainColor;
}

@media (max-width: $max-width-mb) {
    .main-nav--hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

@media (min-width: $width-tb) {
    .header {
        width: 50%;
        margin: 0 auto;
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
    }
    .header--catalog {
        width: 100%;
    }
    .header__wrapper {
        display: none;
    }
    .header__form {
        display: none;
    }
}