.item {
    &__top-panel {
        width: 100%;
        min-height: 30px;
        position: absolute;
        top: 0;
        background-color: $black;
        color: $white;
        font-family: "Rubik Bold", sans-serif;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
    }
    &__body {
        position: absolute;
        bottom: 0;
        padding: 5px 0;
        min-height: 60px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: $mainColor;
    }
    &__content-wrapper {
        min-width: 70px;
        padding: 0 10px;
    }
    &__title {
        font-family: "Rubik Regular", sans-serif;
        font-weight: 400;
        font-size: $text-mb;
        margin: 0 0 5px 0;
    }
    &__cost {
        margin: 0;
        font-family: "Rubik Medium", sans-serif;
        font-weight: 400;
        font-size: $text-mb;
    }
    &__btn {
        border: none;
        background-color: transparent;
    }
}

.item__top-panel span {
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100%;
    animation: marquee 10s linear infinite;
}

.item__top-panel span:nth-child(1) {
    position: absolute;
    left: -100%;
    animation: marquee 10s 5s linear infinite;
}

@media (min-width: $width-tb) {
    .item__top-panel {
        font-size: 20px;
    }
    .item__top-panel span {
        animation: marquee 20s linear infinite;
    }
    .item__top-panel span::before {
        content: "хит продаж";
        margin: 0 100px;
        animation: marquee 20s linear infinite;
    }
    
    .item__top-panel span:nth-child(1) {
        animation: marquee 20s 10s linear infinite;
    }
    .item__top-panel span:nth-child(1)::before {
        content: "специальное предложение";
        margin: 0 100px;
        animation: marquee 20s linear infinite;
    }
}

@media (min-width: $width-pc) {
    .item__title {
        font-size: 20px;
    }
    .item__top-panel span {
        animation: marquee 20s linear infinite;
    }
    .item__top-panel span::before {
        content: "хит продаж";
        margin: 0 100px;
        animation: marquee 20s linear infinite;
    }
    
    .item__top-panel span:nth-child(1) {
        animation: marquee 20s 10s linear infinite;
    }
    .item__top-panel span:nth-child(1)::before {
        content: "специальное предложение";
        margin: 0 100px;
        animation: marquee 20s linear infinite;
    }
}

@keyframes marquee {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 0;
        transform: translateX(100%);
    }
}