.main-nav {
    margin: 0 auto;
    margin-bottom: 25px;
}

.main-nav__item {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $black;
    &:last-child {
        border-bottom: 2px solid $black;
    }
}

.main-nav__link {
    color: $black;
    font-size: $text-mb;
}

.main-nav__list {
    @include list;
    opacity: 1;
}

.main-nav__image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

@media (min-width: $width-tb) {
    .main-nav__list {
        display: flex;
    }
    .main-nav__item {
        border: none;
        margin: 0 10px;
        &:last-child {
            border: none;
        }
    }
}