.header-body {
    min-height: calc(100vh - 146px);
    justify-content: center;
    text-align: center;
    background-color: $mainColor;
    &__title {
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 400;
        font-size: 50px;
        line-height: calc(100% + 20px);
        margin: 0 0 25px 0;
    }
    &__link {
        text-transform: uppercase;
        text-decoration: underline;
    }
}

.main-body {
    width: 87.5%;
    &__cards {
        width: 100%;
        margin-top: 50px;
    }
    &__form {
        width: 100%;
        margin-bottom: 70px;
    }
}