body {
    padding: 0;
    margin: 0;
    min-width: 320px;

    font-family: "Rubik Regular", sans-serif;
    font-size: 18px;
    color: #000;
    background-color: #FBF6FB;
}

// Оптимизация ссылок, input, button и др
a, input, button {
    font-family: "Rubik Regular";
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}


.flex-helper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}