body {
    padding: 0;
    margin: 0;
    min-width: 320px;
    font-family: "Rubik Regular", sans-serif;
    font-size: $text-mb;
    color: $black;
    background-color: $mainColor;
}

// Оптимизация ссылок, input, button и др
a,
input,
button {
    font-family: "Rubik Regular", sans-serif;
    font-weight: 400;
    font-size: $text-mb;
    text-decoration: none;
    color: $black;
    outline: none;
}

.flex-helper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: $white;
}

.body-catalog {
    background-color: $white;
}