.navigation {
    z-index: 5;
    position: fixed;
    pointer-events: none;
    width: 100%; height: 100%;

    &__panel {
        z-index: 5;
        width: 87.5%;
        margin-top: 20px;
        align-items: stretch;
        pointer-events: all;
    }
    &__container {
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 15px;
    }
    &__logo {}
    &__logo-image {}
    &__nav-button, &__nav-button::before, &__nav-button::after {
        padding: 0;
        width: 29px;
        height: 3px;

        display: block;
        position: relative;

        border: none;
        background-color: #000405;
    }
    &__nav-button::before {
        content: "";
        position: absolute; 
        top: -10px;
    }
    &__nav-button::after {
        content: "";
        position: absolute; 
        bottom: -10px;
    }
    &__search {
        position: sticky; top: -20px;
        border-radius: 0;
        border: 2px solid #000405;
        outline: none;
        padding: 10px 5px;
        font-size: 16px;
    }
    &__bg {
        z-index: 4;
        position: absolute;
        width: 100%; height: 100%;
        backdrop-filter: blur(25px);

        opacity: 0;
        transition: opacity .25s;
    }
    // Анимация меню
    .navigation--blur { opacity: 1; }
    .main-nav--show { height: 100%; }
    // .navigation__nav-button--opened {}
}
.main-nav {
    height: 0;
    overflow: hidden;
    font-size: 24px;
    line-height: 50px;
    transition: height .25s;

    &__list {
        padding: 0;
        list-style: none;
    }
    &__item {}
    &__link {}
    &__activ-link {}
}