// colours
$mainColor: #dccac6;
$black: #000405;
$white: #fbf6fb;
// font size mobile
$title-mb: 50px;
$subtitle-mb: 22px;
$text-mb: 18px;
// font size tablet
$title-tb: 50px;
$subtitle-tb: 24px;
$text-tb: 18px;
// font size pc
$title-pc: 64px;
$subtitle-pc: 30px;
$text-pc: 20px;
// media width
$width-mb: 320px;
$max-width-mb: 767px;
$width-tb: 768px;
$width-pc: 1280px;