// colours
$mainColor: #dccac6;
$black: #000405;
$white: #fbf6fb;
// font size mb
$title-mb: 50px;
$subtitle-mb: 22px;
$text-mb: 18px;
// for adaptiv
$mobile-max-width: 767px;
$tabletWidth: 768px;
$desktopWidth: 1280px;